/*
    Structure
*/
body{
    background-image: url("IMG_1708.JPG");
    background-size: cover;
}

li {
    background-color: white;
    padding-right: 25px;
    margin-left: -20px;
    list-style: none;
}

table{
    text-align: center;
    width: 100%;
}
td {
    width: 33%;
}

#shell {
    position: relative;
    margin: 70px auto;
    
    width: 600px;
    height: 500px;
}

#time-area, #answer-area, #round-area, #message-area, #compose-area, #room-area, .option {
    border: solid;
    border-width: 4px;
    border-color: black;
}


/*
    Message Area
*/
#chat-area {    
    position: absolute;
    bottom: 0px;
    
    width: 100%;
    height: 200px;
}
#room-area {
    background-color: transparent;
    
    position: absolute;
    right: 0px;
    
    width: 147px;
    height: 192px;
}

#message-area, #compose-area {
    width: 432px;
}

#message-area::-webkit-scrollbar * {
   background-color: rebeccapurple;
}  
#message-area {
    background-color: transparent;
    
    height: 140px;
    
    position: absolute;
    left: 0px;
    
    word-wrap: break-word;

    overflow-y: auto;
    
}

#compose-area {
    height: 40px;
    
    position: absolute;
    left: 0px;
    bottom: 0px;
    
}
#input-field {
    font-size: 25px;
    height: 100%;
    width: 100%;
    
    position: absolute;
    left: 0px; 
}
#my-username-text{
    color: red;
}

/*
    Top Area
*/
#answer-area, #time-area, #round-area{
    height: 18px;
    color: black;
    background-color: rgba(255, 255, 255, 0.75);
}
#top-area{
    width: 100%;
}

/*
    Options Area
*/
.option{
    height: 100px;
    text-align: center;
    color: black;
    background-color: rgba(255, 255, 255, 0.85);
    font-size: 18px;
    font-weight: 600;
    box-sizing: border-box;
    padding: 8px;
}

.option.correct{
    border-color: #1a7f37;
    background-color: rgba(26, 127, 55, 0.25);
}

.option.incorrect{
    opacity: 0.5;
}
#game-intro-area{
    position: absolute;
    inset: 0;
    display: none;
    align-items: center;
    justify-content: center;
    background-color: rgba(0, 0, 0, 0.45);
}

#game-intro-card{
    width: 85%;
    background-color: rgba(255, 255, 255, 0.9);
    border: 4px solid black;
    padding: 16px;
    box-sizing: border-box;
    text-align: center;
}

#game-intro-title{
    font-size: 22px;
    font-weight: 700;
    margin-bottom: 8px;
}

#game-intro-text{
    font-size: 16px;
    font-weight: 600;
}
